/CompoundPredicate.class
/DataDictionary.class
/DataField.class
/DataFieldCategorical.class
/DataFieldContinuous.class
/Item.class
/Itemset.class
/MiningField.class
/MiningSchema.class
/SimplePredicate.class
/Tilde2PMML.class
/Tilde2PMMLv1.class
/Tilde2PMMLv2.class
