/BitVectorStat.class
/ClassificationStat.class
/ClusDistance.class
/ClusStatistic.class
/CombStat.class
/GeneticDistanceStat.class
/RegressionStat.class
/RegressionStatBase.class
/RegressionStatBinaryNomiss.class
/StatisticPrintInfo.class
/SumPairwiseDistancesStat.class
